.content_background {
	background: #d5dae0 !important; 
	overflow: hidden !important;
}


.footer_text{
	color: white !important;
}

.shadowBox{
	-webkit-box-shadow: 9px 18px 42px 0px rgba(0,0,0,0.53);
	-moz-box-shadow: 9px 18px 42px 0px rgba(0,0,0,0.53);
	box-shadow: 9px 18px 42px 0px rgba(0,0,0,0.53);
}

.footer{
	margin-top: 5%;
}


/*PAGE 404*/

.error {
  margin: 0 auto;
  text-align: center;
}

.error-code {
  bottom: 60%;
  color: #2d353c;
  font-size: 96px;
  line-height: 100px;
}

.error-desc {
  font-size: 12px;
  color: #647788;
}

.m-b-10 {
  margin-bottom: 10px!important;
}

.m-b-20 {
  margin-bottom: 20px!important;
}

.m-t-20 {
  margin-top: 20px!important;
}


/*EYES PASSWORD*/
.eyes {
  color: #0099cc;
  padding: 1em 1.5em;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
}

.eyes:hover {
  cursor: pointer;
}
