.spaceImage{
	margin-left: 5%;
}

.jumbotron {
	padding: 0;
}

body{
	overflow-x:hidden;
}

.new_align{
	float:right;
}

.navBarBrand-title {
	display: none;
}

.navbar-light .navbar-collapse .navbar-nav > li > a:hover {
  /*background-color: #E4EAF0;*/
  background-color: #CCDFF1;
  border-radius: 10%;
}


@media (max-width: 600px) {
  .logo-header, .titulo-app, .hr-header {
    display: none;
  }

  .navBarBrand-title  {
    display: inline;
    font-weight: bold;
  }


}