.spaceImage{
	margin-left: 5%;
}

.jumbotron {
  padding: 0;
  /*background-color: #4682B4;*/
  background: #4b8eaf; 
  background: -webkit-linear-gradient(to right, #16222A, #4b8eaf);   
  background: linear-gradient(to right, #16222A, #4b8eaf);
  color: white;
  /* background-color: #84CBEF; */
}

body{
  overflow-x:hidden;
  background: #d5dae0 !important; 
}

.new_align{
	float:right;
}

.navBarBrand-title {
	display: none;
}

.navbar-light .navbar-collapse .navbar-nav > li > a:hover {
  /*background-color: #E4EAF0;*/
  background-color: #ededed;
  font-size: 17px;
}


.navbar-light .navbar-collapse .navbar-nav > li > a{
  color:white;
}

@media (max-width: 768px) {
  .logo-header-iu, .titulo-app, .hr-header, .logo-header-fau, .logo-header-ucv {
    display: none;
  }

  .navBarBrand-title  {
    display: inline;
    font-weight: bold;
  }


}


@media (max-width: 1387px) {
  .logo-header-iu{
    width: 210px;
    height: 120px;
  }
  .logo-header-ucv{
    width: 100px;
    height: 100px;
  }
  .logo-header-fau{
    width: 180px;
    height: 80px;
  }

}

@media (max-width: 1227px) {
  .logo-header-iu{
    width: 190px;
    height: 105px;
  }
  .logo-header-fau{
    width: 150px;
    height: 65px;
  }

}

@media (max-width: 1107px) {
  .logo-header-iu{
    width: 170px;
    height: 100px;
  }
  .logo-header-ucv{
    width: 75px;
    height: 75px;
  }
  .logo-header-fau{
    width: 140px;
    height: 60px;
  }

}

@media (max-width: 1107px) {
  .logo-header-iu{
    width: 130px;
    height: 80px;
  }
  .logo-header-ucv{
    width: 50px;
    height: 50px;
  }
  .logo-header-fau{
    width: 110px;
    height: 50px;
  }

}


@media (max-width: 827px) {
  .logo-header-ucv, .logo-header-fau{
    display: none;
  }

}