.spaceImage{
	margin-left: 5%;
}

.jumbotron {
	padding: 0;
}

body{
	overflow-x:hidden;
}


/*nav a:hover{
	background-color: #9c9a9a;
	color:white;
	border-radius: 5px;
}
*/

.new_align{
	float:right;
}