.inicio_estudiante_izquierda {
	margin-left: 30px;

}

.foto_estudiante {
	margin-left: 30px;
}

/*.boton_incripcion {
	margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;

    float:center;
}*/