.searchBox > input {
	display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.tabla_usuarios {
	cursor: pointer;
}

.nav-link {
    cursor: pointer;
}

.center-img{
   margin: auto;    
   display: block;
   border-radius: 0.25rem;
}

.botones > div {
  display: inline-block;
  margin-right: 10px;
}

@media (max-width: 600px) {
  .botones > div {
    margin-right: 2px;
  }



}